@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0A0F1E;
  color: white;
  font-family: 'Malgun Gothic', sans-serif;
}